.icon {
  position: fixed;
  bottom: 15px;
  right: 10%;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: #e30613;
  color: white;
  font-size: 25px;
  z-index: 10;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
