@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.companyBioWrapper {
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.85);
  margin-bottom: 5px;
}
.companyBioTitle {
  color: black;
  font-family: Flange BQ Italic;
  font-size: 90px;
  padding-top: 10px;
}

.companyBioText {
  color: black;
  font-family: Nexa Bold;
  font-size: 25px;
  padding: 15px;
}

@media screen and (max-width: 1600px) {
  .companyBioTitle {
    font-size: 60px;
  }
}

@media screen and (max-width: 468px) {
  .companyBioText {
    font-size: 20px;
  }
}
