@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.companyBioWrapper {
  text-align: center;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0.7);
  /* margin-bottom: 40px; */
}
.companyBioTitle {
  color: white;
  font-family: Flange BQ Italic;
  font-size: 60px;
  /* padding-top: 30px; */
}

.companyBioText {
  color: white;
  /* margin: 30px; */
  font-family: Nexa Bold;
  /* padding-bottom: 30px; */
}
