@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.imageSliderWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  border: 10px solid red;
}

.singleSlide {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  display: flex;
  transition: 500ms ease-in-out;
}

.center {
  flex: 90%;
  height: 90vh;
  display: grid;
  text-align: center;
  color: rgb(255, 255, 255, 0.9);
  font-family: Nexa Bold;
}

.leftButton,
.rightButton {
  flex: 5%;
  background-color: rgb(0, 0, 0, 0.15);
  display: grid;
  place-items: center;
  color: white;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.leftButton:hover,
.rightButton:hover {
  background-color: rgb(0, 0, 0, 0.35);
}

.title {
  font-size: 75px;
  text-decoration: underline;
}

.subTitle {
  font-size: 35px;
  background-color: rgb(0, 0, 0, 0.6);
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1100px) {
  .title {
    font-size: 80px;
  }
}

@media screen and (max-width: 880px) {
  .title {
    font-size: 60px;
  }

  .subTitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 50px;
  }

  .subTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 452px) {
  .imageSliderWrapper {
    border: none;
  }

  .singleSlide {
    background-image: none !important;
    height: auto;
  }

  .arrowButton {
    display: none;
  }

  .title {
    font-size: 40px;
  }

  .center {
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 10px;
  }

  .subTitle {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
