@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.imageSliderWrapper {
  border: 10px solid red;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.singleSlide {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  display: flex;
  transition: 500ms ease-in-out;
}

.center {
  flex: 90%;
  height: 90vh;
  display: grid;
  place-items: center;
  text-align: justify;
  text-align-last: center;
  color: rgb(255, 255, 255, 0.8);
  font-family: Nexa Bold;
}

.leftButton,
.rightButton {
  flex: 5%;
  background-color: rgb(0, 0, 0, 0.15);
  display: grid;
  place-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.leftButton:hover,
.rightButton:hover {
  background-color: rgb(0, 0, 0, 0.35);
}

.title {
  font-size: 100px;
  text-decoration: underline;
}

.subTitle {
  font-size: 30px;
}
