@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.productsWrapper {
  background-color: rgb(255, 255, 255, 0.15);
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px;
}

.productsHeading {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
