@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.productsWrapper {
  text-align: center;
  border-radius: 20px;
  background-color: rgb(0, 0, 0, 0.7);
  margin-bottom: 40px;
}

.productsHeading {
  color: white;
  margin: 30px;
  font-family: Nexa Bold;
  padding-top: 30px;
  padding-bottom: 30px;
}
