@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.servicesWrapper {
  height: 115vh;
  margin: 50px;
}

.servicesTitle {
  text-align: center;
  color: white;
  font-family: Flange BQ Italic;
  font-size: 60px;
  margin-top: 40px;
}
