@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

/* .mixesWrapper {
  margin: 50px;
  margin-bottom: 100px;
} */

.mixesTitle {
  text-align: center;
  color: white;
  font-family: Flange BQ Italic;
  font-size: 60px;
  margin-top: 40px;
}

.beforeHeader,
.afterHeader {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Nexa Bold;
}

.eachMix {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: gray;
  opacity: .9;
}

.eachMix:hover {
  opacity: .75;
}

/* .mixesWrapper {
  height: 80vh;
  width: 90vw;
  /* display: flex; */
/* flex-wrap: nowrap;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
  margin-left: 5vw;
} */

/* .mixWrapper::-webkit-scrollbar {
  display: none;
}

.audioPlayer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.headers {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

.artistHeader {
  padding-right: 65px;
}

.eachMixWrapper {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  background-image: linear-gradient(to top right, black 10%, white, black);
  border-radius: 10px;
}

.trackTitle {
  padding-right: 120px;
  color: white;
}

.playPauseButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.progressBar {
  appearance: none;
  background: red;
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 7px;
  outline: none;
}

/* Progress Bar - Safari */
/* .progressBar::-webkit-slider-runnable-track {
  background: red;
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 7px;
  outline: none;
} */

/* Progress Bar- Firefox */
/* .progressBar::-moz-range-track {
  background: red;
  border-radius: 10px;
  position: relative;
  width: 300px;
  height: 7px;
  outline: none;
} */

/* .progressBar::-moz-focus-outer {
  border: 0;
} */

/* Progress Bar - Chrome */
/* .progressBar::before {
  content: "";
  height: 7px;
  width: 300px;
  background-color: red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
} */

/* Progress Bar - Firefox */
/* .progressBar::-moz-range-progress {
  background-color: red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 7px;
} */

/* Knob - Chrome/Safari + */
/* .progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: red;
  cursor: pointer;
  position: relative;
  margin: -4px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
} */

/* .progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: blue;
} */

/* Knob - Firefox */
/* .progressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background-color: red;
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
} */

/* .progressBar:active::-moz-range-thumb {
  transform: scale(1.2);
  background: blue;
}

.beforeMixes {
  display: inline-block;
  width: 50%;
}

.afterMixes {
  display: inline-block;
  width: 50%;
} */
