@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

/* .mixesWrapper {
  margin: 50px;
  margin-bottom: 100px;
} */

.mixesTitle {
  text-align: center;
  color: white;
  font-family: Flange BQ Italic;
  font-size: 60px;
  margin-top: 40px;
}

.beforeHeader,
.afterHeader {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Nexa Bold;
}

.eachMix {
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: gray;
  opacity: 0.9;
}

.eachMix:hover {
  opacity: 0.75;
}
