
@font-face {
    font-family: Flange BQ Italic;
    src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.contactWrapper {
  background-color: black;
  justify-content: center;
  padding-top: 10px;
  height: 100vh;
}

.contactTitle {
  font-family: Flange BQ Italic;
  font-size: 60px;
  color: #e30613;
}

.instagram {
  width: 30px;
  height: 30px;
  margin-left: 60px;
  margin-right: 95px;
  cursor: pointer;
  color: #e30613;
}

.spotify {
  width: 30px;
  height: 30px;
  margin-left: 60px;
  margin-right: 60px;
  cursor: pointer;
  color: #e30613;
}

.youtube {
  width: 30px;
  height: 30px;
  margin-left: 60px;
  margin-right: 60px;
  cursor: pointer;
  color: #e30613;
}

.twitter {
  width: 30px;
  height: 30px;
  margin-right: 60px;
  margin-left: 95px;
  cursor: pointer;
  color: #e30613;
}

.formWrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactForm {
  background: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 50px;
}

 #name, #email, #message {
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
   margin: 15px;
   width: 100%;
 }

.submitButton {
  margin-top: 30px;
  margin-bottom: 20px;
  background: #e30613;
  color: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: Nexa Bold;
}
