@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.contactWrapper {
  background-color: orange;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.contactTitle {
  text-align: center;
  font-family: Flange BQ Italic;
  font-size: 90px;
  color: #e30613;
  padding-top: 20px;
}

.socialComponent {
  display: flex;
  align-content: center;
  justify-content: center;
}

.contactText {
  font-size: 20px;
  font-family: Nexa Bold;
}

.formWrapper {
  margin-top: 20px;
  text-align: center;
}

.contactForm {
  background: rgb(255, 255, 255, 0.2);
  width: 40vh;
  /* height: 40vh; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 50px;
}

#name,
#email,
#message {
  font-family: Nexa Bold;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  width: 95%;
}

.submitButton {
  margin-top: 10px;
  margin-left: 10px;
  background: #e30613;
  color: white;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-family: Nexa Bold;
}

@media screen and (max-width: 1600px) {
  .contactTitle {
    font-size: 60px;
  }
}

@media screen and (max-width: 350px) {
  .contactForm {
    padding: 5%;
  }

  #name,
  #email,
  #message {
    margin: 5%;
  }
}
