/* .mainLogoDiv {
  position: "absolute";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  top: 500px;
  z-index: 2;
} */

.mainLogo {
  /* margin-top: "25vh"; */
  position: absolute;
  top: 250px;
  background-color: "rgb(255,255,255, 0.2)";
  border-radius: "10px";
  z-index: 2;
  width: 400px;
  height: 400px;
}
