@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.beatsWrapper {
  /* height: 100vh; */
  margin: 5%;
}

.beatsTitle {
  text-align: center;
  color: white;
  font-family: Flange BQ Italic;
  font-size: 90px;
}

@media screen and (max-width: 1600px) {
  .beatsTitle {
    font-size: 60px;
  }
}
