@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

.dropdownButton {
  position: fixed;
  display: block;
  left: 15px;
  top: 15px;
  width: 200px;
  height: 100px;
  background-color: gray;
  opacity: 0.75;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.expandedDropdownButton {
  position: fixed;
  display: block;
  justify-content: left;
  left: 15px;
  top: 15px;
  width: 350px;
  height: 100px;
  background-color: gray;
  opacity: 0.75;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.dropdownButton:hover {
  opacity: 1;
}

#navLogo {
  display: inline-flex;
  width: 80px;
  height: 80px;
}

.menuIcon {
  display: inline-flex;
  justify-content: end;
  width: 80px;
  height: 80px;
  color: white;
}

.noshow {
  display: none;
}

.links {
  position: fixed;
  list-style-type: none;
  display: block;
  margin-top: 115px;
  font-size: 30px;
  z-index: 3;
}

.menuItems {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 15px;
  font-family: Flange BQ Italic;
  color: white;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(to bottom, #e30613 0%, black 100%);
  border-radius: 10px;
}

.menuItems:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}
