@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

.navBar {
  width: 100%;
  margin-top: 0px;
  position: absolute;
  display: flex;
  text-decoration: "none";
  z-index: 2;
}

.rightSide {
  position: absolute;
  top: 25px;
  right: 0px
}
