.App {
  overflow: hidden;
  background-color: black;
}

.pages {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#mainVideo {
  position: fixed;
  background-size: cover;
  background-position: center;
  width: 95%;
  height: 95%;
  z-index: -1;
}
