/* Slide in animation on load */
@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@font-face {
    font-family: Flange BQ Italic;
    src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

@font-face {
  font-family: Nexa Bold;
  src: url("../../assets/fonts/Nexa\ Bold.otf");
}

.topNav {
    margin-top: 30px;
    padding: 0px !important;
    float: right;
    background: linear-gradient(to right, #A9A9A9 0%, transparent 100%) !important;
}

.links {
    /* float: left; */
    transition: 1s;
    left: 0;
    font-size: 35px;
    display: inline;
    /* padding-left: 40px;
    padding-right: 40px; */
    text-decoration: none;
}

li {
  display: inline-block;
}

#beats, #services, #about, #contact {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    display: inline-block;
    font-family: Flange BQ Italic;
}

#beats:hover, #services:hover, #about:hover, #contact:hover {
    /* margin-right: 40px;
    margin-bottom: 40px; */
    background: linear-gradient(to bottom, #e30613 0%, transparent 100%);
    padding-top: 10px;
    padding-bottom: 15px;
    /* padding-left: 40px;
    padding-right: 40px; */
} 