@font-face {
  font-family: Flange BQ Italic;
  src: url("../../assets/fonts/Flange\ BQ\ Italic.ttf");
}

.navBar {
  width: 100%;
  position: absolute;
  display: flex;
  text-decoration: "none";
  z-index: 2;
}

.leftSide {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  left: 30px;
}

.navLogo {
  position: absolute;
  width: 40px;
  height: 40px;
}

.links {
  position: absolute;
  display: inline-flex;
  left: 30px;
  top: -55px;
  font-size: 30px;
}

.beats,
.services,
.about,
.contact {
  padding-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
  display: inline-block;
  font-family: Flange BQ Italic;
  color: white;
  cursor: pointer;
}

.beats:hover,
.services:hover,
.about:hover,
.contact:hover {
  background: linear-gradient(to bottom, #e30613 0%, transparent 100%);
  padding-top: 35px;
  padding-bottom: 20px;
}