.instagramIcon,
.iTunesIcon,
.twitterIcon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #e30613;
  padding-right: 35px;
  padding-left: 35px;
}

.instagramIcon:hover,
.iTunesIcon:hover,
.twitterIcon:hover {
  color: white;
  cursor: pointer;
}
